openpyxl
langchain >= 1.0.0
langchain_community
langchain-ollama
langchain_openai >= 1.0.0
langchain_experimental
langgraph >= 1.0.0
openai
pandas
sqlalchemy
numpy
plotly
streamlit
scikit-learn
xgboost
psutil
streamlit-flow-component
